ipykernel
requests>=2.0.0
beautifulsoup4>=4.0.0
termcolor>=2.0.0
selenium
joblib
webdriver-manager
scrapy
html2text
llama_index.embeddings.huggingface
llama_index.llms.ollama
llama-index-vector-stores-chroma